.profile-dropdown {
  position: absolute;
  right: 25px;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

.hidden {
  display: none;
}
.navbar{
  border-bottom: 1px solid #cacaca;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo{
  height:70px;
  width:170px;
}
#user-logo {
  display: inline-block; /* Add this line */
  font-size: 35px;
  text-decoration: none;
  list-style: none;
  border: none;
  background-color: transparent;
  margin-right: 1rem;
  cursor: pointer;
  color: #808080;
}
#profile-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: #FF385C;
}
#profile-data li{
  padding: 0.5rem;
  color: white;
}
#logout-button{
  display: inline-block; /* Add this line */
  text-decoration: none;
  list-style: none;
  border: 0.5px solid white;
  background-color: #FF385C;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
}
#logout-button:hover{
  background-color: white;
  color: #FF385C;
}

#user-logo-button {
  display: inline-block; /* Add this line */
  text-decoration: none;
  list-style: none;
  border: none;
  background-color: transparent;
}
.login-and-logout{
  display: flex;
  box-sizing: border-box;
}
.login-logout{
  border: none;
  padding: 1rem;
  flex: 1; /* Each button takes up half of the available space */
  text-align: center;
  justify-content: center;
  cursor: pointer;
  width: 120px;
  height: 75px;
}
.login-logout:hover {
  background-color: #FF385C;
}
