.project-bar{
    border-right: 1px solid #D3D3D3;
    height: 100vh;
    width: 200px;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.project{
    text-decoration: none;
    text-align: center;
}
.project-name{
    color: #FF385C;
    padding: 1rem;
}
.project-bar-header{
    text-align: center;
    color: black;
    padding: 1rem;
}
.project-name:hover{
    color: black;
    background-color: #FF385C;
}
.no-projects{
    margin: 1rem;
    color:  #767676;
}
