.post-header {
    text-align: center;
    color: #FF385C;
  }
  
  .manage-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
  }
  
  .modal-button {
    border: none;
    padding: 1rem;
    flex: 1; /* Each button takes up half of the available space */
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }

  .modal-button:hover {
    background-color: #FF385C;
  }
  
  .modal-buttons {
    display: flex;
  }
  